In [1]:
import pandas as pd
import numpy as np

from datetime import date

### Importando dataset e-commerce

Para mas informacion del dataset, consulte en el siguiente [link](https://www.kaggle.com/datasets/carrie1/ecommerce-data)

In [2]:
ecommerce = pd.read_csv("data.csv")

In [3]:
ecommerce.head(5)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,12/1/2010 8:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,12/1/2010 8:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,12/1/2010 8:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,12/1/2010 8:26,3.39,17850.0,United Kingdom

In [4]:
ecommerce.shape

(541909, 8)

### cast de fechas y tratamiento de columnas Dias, mes, año

In [5]:
ecommerce.dtypes

InvoiceNo       object
StockCode       object
Description     object
Quantity         int64
InvoiceDate     object
UnitPrice      float64
CustomerID     float64
Country         object
dtype: object

In [6]:
ecommerce["InvoiceDate"] = pd.to_datetime(ecommerce["InvoiceDate"])

In [7]:
ecommerce.dtypes

InvoiceNo              object
StockCode              object
Description            object
Quantity                int64
InvoiceDate    datetime64[ns]
UnitPrice             float64
CustomerID            float64
Country                object
dtype: object

In [8]:
ecommerce.head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom

In [9]:
ecommerce["year"] = ecommerce["InvoiceDate"].dt.year
ecommerce["month"] = ecommerce["InvoiceDate"].dt.month
ecommerce["day"] = ecommerce["InvoiceDate"].dt.day

In [10]:
ecommerce.head(1)

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,year,month,day
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,2010-12-01 08:26:00,2.55,17850.0,United Kingdom,2010,12,1

#### Exploracion de paises

In [11]:
ecommerce["Country"].drop_duplicates()

0               United Kingdom
26                      France
197                  Australia
385                Netherlands
1109                   Germany
1236                    Norway
1404                      EIRE
5320               Switzerland
6421                     Spain
6608                    Poland
7134                  Portugal
7214                     Italy
7279                   Belgium
7986                 Lithuania
9783                     Japan
14938                  Iceland
20000          Channel Islands
20017                  Denmark
29732                   Cyprus
30078                   Sweden
31464                  Austria
31982                   Israel
34083                  Finland
38313                  Bahrain
69007                   Greece
69623                Hong Kong
70758                Singapore
72985                  Lebanon
89570     United Arab Emirates
100810            Saudi Arabia
103598          Czech Republic
119191                  Canada
152712             Unspecified
157299                  Brazil
164464                     USA
168149      European Community
217684                   Malta
395472                     RSA
Name: Country, dtype: object

### Ejercicios

**Ejercicio 1:** Por pais muestre cual fue el año en el que mejor ingreso se registro y su valor, adicional muestre cual fue el año con mas Invoices (Frecuencia) y otra columna con el total.

Nota: Note que el año con mejor ingreso no es lo mismo con el año con mas invoices, por ejemplo en 2019 Honduras en dos invoices se facturo 10,000. sin embargo, en 2020 se realizaron 20 invoices (pueda que en este año el ingreso de esas invoices hayan sumado 7,000 inferior al 2020) 

*recuerde que el ejemplo es inventado*

Ejemplo de como se deberia de ver el dataframe resultante:

In [21]:
pd.DataFrame({
    "country" : ["Honduras"]
    , "YearMejorIngreso" : [2019]
    , "ValorYearMejorIngreso" : [20000]
    , "YearMejorFrecuenciaInvoices": [2020]
    , "CantidadYearMejorFrecuenciaInvoices": [20]
})

,country,YearMejorIngreso,ValorYearMejorIngreso,YearMejorFrecuenciaInvoices,CantidadYearMejorFrecuenciaInvoices
0,Honduras,2019,20000,2020,20

In [28]:
pais = ecommerce.groupby('Country')[['Quantity']].agg(['sum']).sort_values(by=[('Quantity', 'mejor')], ascending=False)

<class 'KeyError'>: ('Quantity', 'mejor')

In [27]:
pais

                     Quantity
                          sum
Country
United Kingdom        4263829
Netherlands            200128
EIRE                   142637
Germany                117448
France                 110480
Australia               83653
Sweden                  35637
Switzerland             30325
Spain                   26824
Japan                   25218
Belgium                 23152
Norway                  19247
Portugal                16180
Finland                 10666
Channel Islands          9479
Denmark                  8188
Italy                    7999
Cyprus                   6317
Singapore                5234
Austria                  4827
Hong Kong                4769
Israel                   4353
Poland                   3653
Unspecified              3300
Canada                   2763
Iceland                  2458
Greece                   1556
USA                      1034
United Arab Emirates      982
Malta                     944
Lithuania                 652
Czech Republic            592
European Community        497
Lebanon                   386
Brazil                    356
RSA                       352
Bahrain                   260
Saudi Arabia               75

*Answer:*

**Ejercicio 2:** Cual es el Top tres por año de los Invoices de lo mas facturado

Ejemplo de como se deberia de ver el dataframe resultante (Recuerde que este es un ejemplo inventado):

**Ejercicio 2:** Cual es el Top tres por año de los Invoices de lo mas facturado

Ejemplo de como se deberia de ver el dataframe resultante (Recuerde que este es un ejemplo inventado):

In [14]:
pd.DataFrame({
    "Year" : [2019,2019,2019,2020,2020,2020]
    , "Top" : [1,2,3,1,2,3]
    , "InvoiceNo" : [536365, 536999, 693365, 24987, 56832, 254232]    
    , "TotalInvoice": [30000,28000,27900,29000,25000,24600]
})

   Year  Top  InvoiceNo  TotalInvoice
0  2019    1     536365         30000
1  2019    2     536999         28000
2  2019    3     693365         27900
3  2020    1      24987         29000
4  2020    2      56832         25000
5  2020    3     254232         24600

*Answer:*

**Ejercicio 3:** Genere el siguiente Dataset para cada uno de los clientes:

In [15]:
pd.DataFrame({
    "CustomerID" : [111,111,111]
    , "YearMonth" : ["2019-1","2019-2","2019-3"]
    , "TotalValorInvoices" : [20000,22000,0]    
    , "TotalCantidadInvoices" : [3,2,0]    
    , "FacturaSiguienteMes": [1,0,1]
})

,CustomerID,YearMonth,TotalValorInvoices,TotalCantidadInvoices,FacturaSiguienteMes
0,111,2019-1,20000,3,1
1,111,2019-2,22000,2,0
2,111,2019-3,0,0,1

*Ten en cuenta lo siguiente:*

Mediante el cross join puedo emular el producto cartesiano de dos vectores para obtener las combinaciones unicas de los valores de cada uno de ellos

In [16]:
df1 = pd.DataFrame( {"year": [2019,2020]} )
df2 = pd.DataFrame( {"Cliente": [111,112,113]} )

df2.merge(df1, how='cross')

   Cliente  year
0      111  2019
1      111  2020
2      112  2019
3      112  2020
4      113  2019
5      113  2020

*Observaciones:*

* TotalValorInvoices: La suma del total facturado por todas sus facturas
* TotalCantidadInvoices: La cantidad de facturas unicas realizadas en ese mes
* FacturaSiguienteMes: Una variable de respuesta que nos dice si al siguiente mes por ese cliente se encontro por lo menos una factura.

Note que por la logica de este dataset el ultimo año-mes encontrado en todo el dataset se va a descartar del resultado final por que no se sabe el valor del siguiente mes. 1: si se encuentra una factura al siguiente mes, 0: no se encuentra nada.

*Answer:*

**Ejercicio cuatro:** Cual es el top 3 de los productos que menos ingresos generan por Pais del ultimo año encontrado del dataset.

Ejemplo de como se deberia de ver el dataframe resultante (Recuerde que este es un ejemplo inventado):

In [17]:
pd.DataFrame({
    "Country" : ["Canada","Canada","Canada","Spain","Spain","Spain"]
    , "Top" : [1,2,3,1,2,3]    
    , "StockCode": [546,6886,665,656,888,668]
    , "Description": ["Product X","Product K","Product J","Product C","Product D","Product U"]
    , "TotalOnInvoices": [2000,2100,4000,3000,3800,3900]
})

  Country  Top  StockCode Description  TotalOnInvoices
0  Canada    1        546   Product X             2000
1  Canada    2       6886   Product K             2100
2  Canada    3        665   Product J             4000
3   Spain    1        656   Product C             3000
4   Spain    2        888   Product D             3800
5   Spain    3        668   Product U             3900

*Answer:*

In [20]:
x= pd.DataFrame({
    "Country":ecommerce["Country"]  
    ,"StockCode":ecommerce["StockCode"]
    ,"Description":ecommerce["Description"]
    ,"TotalOnInvoices":ecommerce["Quantity"] * ecommerce["UnitPrice"]
})
x

,Country,StockCode,Description,TotalOnInvoices
0,United Kingdom,85123A,WHITE HANGING HEART T-LIGHT HOLDER,15.30
1,United Kingdom,71053,WHITE METAL LANTERN,20.34
2,United Kingdom,84406B,CREAM CUPID HEARTS COAT HANGER,22.00
3,United Kingdom,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,20.34
4,United Kingdom,84029E,RED WOOLLY HOTTIE WHITE HEART.,20.34
...,...,...,...,...
541904,France,22613,PACK OF 20 SPACEBOY NAPKINS,10.20
541905,France,22899,CHILDREN'S APRON DOLLY GIRL,12.60
541906,France,23254,CHILDRENS CUTLERY DOLLY GIRL,16.60
541907,France,23255,CHILDRENS CUTLERY CIRCUS PARADE,16.60
541908,France,22138,BAKING SET 9 PIECE RETROSPOT,14.85